@model CreationdesModel.ModelView.LocationAddModelview

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>LocationAddModelview</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="datedebut" class="control-label"></label>
                <input asp-for="datedebut" class="form-control" />
                <span asp-validation-for="datedebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datefin" class="control-label"></label>
                <input asp-for="datefin" class="form-control" />
                <span asp-validation-for="datefin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prixjour" class="control-label"></label>
                <input asp-for="prixjour" class="form-control" />
                <span asp-validation-for="prixjour" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <select asp-for="clientId" class="form-control" asp-items="@ViewBag.clients"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


