
@model Assurance
<form action="#" method="post">
    <div class="mb-3 row">
        <label for="Libelle" class="col-sm-2 col-form-label">Libelle</label>
        <div class="col-sm-10">
            <input asp-for="agence" class="form-control" id="Libelle">
        </div>
        <span asp-validation-for="agence"> </span>
    </div>

    <div class="mb-3 row">
        <label for="Libelle" class="col-sm-2 col-form-label">Libelle</label>
        <div class="col-sm-10">
            <input asp-for="date_debut" class="form-control" id="Libelle">
        </div>
        <span asp-validation-for="date_debut"> </span>
    </div>


    <div class="mb-3 row">
        <label for="Libelle" class="col-sm-2 col-form-label">Libelle</label>
        <div class="col-sm-10">
            <input asp-for="date_fin" class="form-control" id="Libelle">
        </div>
        <span asp-validation-for="date_fin"> </span>
    </div>



    <div class="mb-3 row">
        <label for="Libelle" class="col-sm-2 col-form-label">Libelle</label>
        <div class="col-sm-10">
            <input asp-for="prix" class="form-control" id="Libelle">
        </div>
        <span asp-validation-for="prix"> </span>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Edit Marque</button>
</form>